@charset "utf-8";

html{
  font-size: 62.5%;
}

body{
  color: #333;
  font-size: 1.6rem;
  background-color: green;
}


footer {
  width: 100%;
  min-height: 10px;
  padding: 10px 0;
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 1px;
}

